@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    font-family: Pretendard, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0rem 4rem;
    min-height: 100vh;
    min-height: 100dvh;
    background: #101922;
}
body,
body * {
    color: #fff;
}
* {
    margin: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
