.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    padding: 1rem;

    @media (max-width: 660px) {
        flex-direction: row;
    }

    &__buttonRail {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 50.4px;
        @media (max-width: 660px) {
            display: none;
        }
    }

    &__button {
        cursor: pointer;
        background-color: transparent;
        text-decoration: none;
        color: #ffffff;

        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -2.5%;
        vertical-align: bottom;
    }
}

.logo {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    align-self: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1.23px;
    margin-bottom: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 660px) {
        margin-bottom: 0;
    }
}

.mobileMenuButton {
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: 660px) {
        display: none;
    }

    &__icon {
        color: #ffffff;
        width: 24px;
        height: 24px;
        stroke-width: 1.8;
        transition: all ease 0.3s;
    }

    &:hover .mobileMenuButton__icon {
        stroke: #00bfff;
        transform: scale(1.1);
    }
}

.active {
    color: #00bfff;
}

.rowWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: flex-start;
}
